<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pakachu.fitkal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitKal">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Profil"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Ayarlar"
            android:exported="false" />
        <activity
            android:name=".MainActivity_YemekEkle"
            android:exported="false" />
        <activity
            android:name=".MainActivity_BunuYedim"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Sepet"
            android:exported="false" />
        <activity
            android:name=".MainActivity_YemekDetay"
            android:exported="false" />
        <activity
            android:name=".MainActivity_ProfilOlustur"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Yemeksepeti"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appid" />
    </application>

</manifest>